<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h2>Expense Details</h2>

	<table id="expensetable">
		<tr>
			<th>Expense Category</th>
			<th>Selected Category</th>
		</tr>
		<tr>
			<td id="cat">Clothes</td>
			<td id="dun">Dunnes</td>
		</tr>
		<tr>
			<td id="cat1">Eating out</td>
			<td id="dun1">Fresh</td>
		</tr>
		<tr>
			<td id="cat2">Entertainment</td>
			<td id="dun2">PVR</td>
		</tr>
		<tr>
			<td id="cat3">Fuel</td>
			<td id="dun3">XtraRechrge</td>
		</tr>
		<tr>
			<td id="cat4">Holidays</td>
			<td id="dun4">Makemytrip</td>
		</tr>
		<tr>
			<td id="cat5">Cash</td>
			<td id="dun5">MacD</td>
		</tr>
		<tr>
			<td id="cat6">Household items</td>
			<td id="dun6">Penneys</td>
		</tr>
		<tr>
			<td id="cat7">Grocery</td>
			<td id="dun7">Tesco</td>
		</tr>
		<tr>
			<td id="cat8">Shopping</td>
			<td id="dun8">Tesco</td>
		</tr>
		<tr>
			<td id="cat9">Sports</td>
			<td id="dun9">Tesco</td>
		</tr>
		<tr>
			<td id="cat10">Travel</td>
			<td id="dun10">Tesco</td>
		</tr>
		<tr>
			<td id="cat11">Kids</td>
			<td id="dun11">Tesco</td>
		</tr>
		<tr>
			<td id="cat12">Bills</td>
			<td id="dun12">Tesco</td>
		</tr>
		<tr>
			<td id="cat13">Gifts</td>
			<td id="dun13">Tesco</td>
		</tr>
	</table>
 <a th:href="@{/submit}">Submit</a> 
</body>
